<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.mts.avpopo85.weathery">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- for location updates -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- for last know location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="P">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".presentation.weather.main.YWActivity" />
        <activity android:name=".presentation.weather.currentWeather.implementation.yandexWeather.YWCurrentWeatherActivity" />
        <activity android:name=".presentation.weather.forecast.implementation.yandexWeather.YWForecastActivity" />
        <activity android:name=".presentation.location.implementation.LocationActivity" />
        <activity
            android:name=".presentation.map.google.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".presentation.weather.forecast.implementation.openWeatherMap.view.activity.OWMForecastInfoActivity" />
        <activity
            android:name=".presentation.welcome.implementation.WelcomeActivity"
            android:theme="@style/MyAppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.settings.implementation.SettingsActivity"
            android:label="@string/settings"
            android:theme="@style/MyAppTheme.SettingsTheme" />
        <activity
            android:name=".presentation.weather.tab.TabbedWeatherActivity"
            android:label="@string/title_activity_tabbed_weather" />
    </application>

</manifest>